NEXT_PUBLIC_STELLAR_TESTNET_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_TESTNET_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_TESTNET_PRIMARY_CONTRACT_ID=REPLACE_WITH_VERIFIED_TESTNET_CONTRACT_ID

NEXT_PUBLIC_STELLAR_MAINNET_RPC_URL=REPLACE_WITH_VERIFIED_MAINNET_RPC_URL
NEXT_PUBLIC_STELLAR_MAINNET_HORIZON_URL=REPLACE_WITH_VERIFIED_MAINNET_HORIZON_URL
NEXT_PUBLIC_MAINNET_PRIMARY_CONTRACT_ID=REPLACE_WITH_VERIFIED_MAINNET_CONTRACT_ID
